@import "tailwindcss";

:root {
  /* ===== Radius ===== */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;

  /* ===== Transition ===== */
  --transition-fast: 120ms ease;
  --transition-base: 200ms ease;

  --switch-track-bg: var(--bg-surface-muted);
  --switch-track-border: var(--border-default);

  --switch-thumb-bg: var(--accent-primary);
  --switch-thumb-shadow: var(--shadow-sm);

  --switch-track-active-bg: var(--accent-primary-soft);
}

[data-theme="light"] {
  /* =====================
     SURFACES
     ===================== */

  --bg-app: #f8fafc;        /* общий фон */
  --bg-page: #f8fafc;       /* фон страниц */
  --bg-layout: #f6f8fa;     /* sidebar / header */
  --bg-surface: #ffffff;    /* cards / tables / panels */
  --bg-surface-muted: #f1f5f9;

  /* =====================
     TEXT
     ===================== */

  --text-primary: #0f172a;
  --text-secondary: #334155;
  --text-muted: #64748b;
  --text-inverse: #020617;

  /* =====================
     BORDERS
     ===================== */

  --border-subtle: #e2e8f0;
  --border-default: #cbd5e1;
  --border-strong: #94a3b8;

  /* =====================
     ACCENT (PRIMARY)
     ===================== */

  --accent-primary: #3b82f6;
  --accent-primary-hover: #2563eb;
  --accent-primary-active: #1e40af;
  --accent-primary-soft: #dbeafe;

  /* =====================
     STATES
     ===================== */

  --state-success-bg: #ecfdf5;
  --state-success-text: #059669;

  --state-warning-bg: #fffbeb;
  --state-warning-text: #d97706;

  --state-danger-bg: #fef2f2;
  --state-danger-text: #dc2626;

  /* =====================
     SHADOWS
     ===================== */

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
}

[data-theme="dark"] {
  /* =====================
     SURFACES
     ===================== */

  --bg-app: #0d1117;
  --bg-page: #0d1117;
  --bg-layout: #010409;
  --bg-surface: #020617;
  --bg-surface-muted: #151b23;

  /* =====================
     TEXT
     ===================== */

  --text-primary: #f0f6fc;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --text-inverse: #f0f6fc;

  /* =====================
     BORDERS
     ===================== */

  --border-subtle: #1e293b;
  --border-default: #334155;
  --border-strong: #475569;

  /* =====================
     ACCENT (PRIMARY)
     ===================== */

  --accent-primary: #3b82f6;
  --accent-primary-hover: #2563eb;
  --accent-primary-active: #1d4ed8;
  --accent-primary-soft: rgba(59, 130, 246, 0.15);

  /* =====================
     STATES
     ===================== */

  --state-success-bg: #064e3b;
  --state-success-text: #6ee7b7;

  --state-warning-bg: #78350f;
  --state-warning-text: #fcd34d;

  --state-danger-bg: #450a0a;
  --state-danger-text: #fca5a5;

  /* =====================
     SHADOWS
     ===================== */

  --shadow-sm: none;
  --shadow-md: none;
}
